.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.buttons {
  display: flex;
  width: 10rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.HomeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  content: "";
  opacity: 1;
  background: url("../images/bg.jpg") no-repeat fixed top;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
}
