.Login {
  height: 20rem;
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background-color: #37373bf8;
  box-shadow: 0 48px 96px rgba(0, 0, 0, 0.5);
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.LoginContainer::after {
  content: "";
  opacity: 1;
  background: rgb(26, 31, 41) url("../images/bg.jpg") no-repeat fixed top;
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
}

.inputField {
  border-radius: 4px;
  margin: 0.5rem;
  background-color: rgb(206, 198, 198);
}

.submitButton {
  border-radius: 4px;
  background-color: rgb(175, 164, 164);
}

.text {
  color: rgb(175, 164, 164);
  font-size: xxx-large;
}
